<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352244220264-mr2rrg7gcsgtcckhgmjoaie99qfc1562.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352244220264-mr2rrg7gcsgtcckhgmjoaie99qfc1562</string>
	<key>API_KEY</key>
	<string>AIzaSyA-T-MKoAQ_MBXMOGeai1R8gJLsrm3zWws</string>
	<key>GCM_SENDER_ID</key>
	<string>352244220264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.learnacadmy</string>
	<key>PROJECT_ID</key>
	<string>learn-academy-5048a</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-academy-5048a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352244220264:ios:1370bdf875a0144a4116dd</string>
</dict>
</plist>